
{% extends 'Agent\base.html' %}

{% load static %}
 
    {% block content %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong>
    </div>
    {% endfor %}
    <div class="container my-4">
    
    <div class="container my-2">
      <div class="container">
         <div class="row">
              <div class="col-xl-4 col-md-6">
                  <div class="card bg-success text-white mb-3">
                  <div class="card-body">Total client</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                      <p class="small text-white stretched-link">{{Agents_a.Client_count}}</p>
                      
                    </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-6 "></div>
              <div class="col-xl-4 col-md-6 ">
                <div class="card bg-primary text-white mb-3">
                  <div class="card-body">Total service added</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                      <p class="small text-white stretched-link">{{Agents_a.Sales_count}}</p>
                      
                    </div>
                  </div>
            </div>
    </div>
      
      </div>
            
    </div>
   
    <h5 style="text-align: center;">Your Clients</h5>
<div class="container my-2" style="border: black solid 2px; border-radius: 3px;">
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Unique No</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">email</th>
            <th scope="col">lead status</th>
            <th scope="col">City</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          
  
        </tr>
      </thead>
      <tbody>
        {% for i in Customer_a %}
        <tr>
          <th scope="row">{{i.id}}</th>
          <td>{{i.Name}}</td>
          <td>{{i.mobile}}</td>
          <td>{{i.email}}</td>
          <td>{{i.lead_status}}</td>
          <td>{{i.City}}</td>
          <td> <a  class="btn btn-sm btn-warning" href="{% url 'client_Update' i.id %}"> Update </a> </td>
          <td> <a  class="btn btn-sm btn-danger" href="{% url 'client_Delete' i.id %}"> Delete </a> </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
</div>
<h5 style="text-align: center;">Your Service sales</h5>
<div class="container my-2" style="border: black solid 2px; border-radius: 3px;">
<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Unique No</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Service Name</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
        <th scope="col">Days left</th>
        <th scope="col">Paid Amount</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
        

      </tr>
    </thead>
    <tbody>
      {% for i in Services_takenc %}
      <tr>
        <th scope="row">{{i.id}}</th>
          <td>{{i.Name.Name}}</td>
          <td>{{i.Service.Service_Name}}</td>
          <td>{{i.Start_date}}</td>
          <td>{{i.End_date}}</td>
          <td>{{i.days_left}}</td>
          <td>{{i.Tot_payement}}</td>
          <td> <a  class="btn btn-sm btn-warning" href="{% url 'Service_taken_Update' i.id %}"> Update </a> </td>
          <td> <a  class="btn btn-sm btn-danger" href="{% url 'Service_taken_delete' i.id %}"> Delete </a> </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>



</body>
{% endblock content %}