{% extends 'Agent\base.html' %}


{% block title %} <title>Add Service show </title>{% endblock %}

{% block css %}
<style>
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
}
</style>


{% endblock %}
{% block content %}
<h1 class="h3 mb-3 font-weight-normal" style="text-align: center;"><b>Delete Your Client</b></h1>
<p  style="text-align: center;">Are you sure? you want to delete ?</p>

<div class="container my-2" style="border: black solid 2px; border-radius: 3px;">
 
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Customer id</th>
          <th scope="col">Customer Name</th>
          <th scope="col">mobile </th>
          <th scope="col">email</th>
          <th scope="col">City</th>
          <th scope="col">GST_NUM</th>
          
  
        </tr>
      </thead>
      <tbody>
   
        <tr>
        
          <td>{{Customer_c.id}}</td>
          <td>{{Customer_c.Name}}</td>
          <td>{{Customer_c.mobile}}</td>
          <td>{{Customer_c.email}}</td>
          <td>{{Customer_c.City}}</td>
          <td>{{Customer_c.GST_NUM}}</td>
          </tr>
          
     
      </tbody>
    </table>
    
              
          
      </div>
  </div>
  <form action="{% url 'client_Delete' Customer_c.id %}" method="POST">
                  
    {% csrf_token %}
    <div style="text-align: center;">
    <a class="btn btn-warning" href="{% url 'Agent_home' %}">Cancel</a>

    <input class="btn btn-danger" type="submit" name="Confirm">
  </div>
</form>

<br>
<br>
<br>
<br>
<br>

{% endblock content %}


