


{% extends 'Agent\base.html' %}
{% load static %}

{% block title %} <title>Add client</title> {% endblock %}
{% block css %}
<style>
    .divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: rgb(0, 0, 0);
}
</style>


{% endblock %}


{% block content %}
<div class="container my-2" >
<h1 class="h3 mb-3 font-weight-normal" style="text-align: center;"><b>Add Your Client here</b></h1>
<p  style="text-align: center;">Fill the details and click on Submit</p>


<div class="container my-2" style="border: black solid 2px; border-radius: 3px;">
    <div class="container my-2">
      <form method="POST">
          {% csrf_token %}
          {{form}}
          <div style="text-align: center;">
          <button type="submit" id="but" class="btn btn-primary" >Submit</button></div>
      </form>
    </div>
    </div>

</div>


{% endblock %} 


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add client</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <button type="submit" id="but">Submit</button>
    </form>
</body>
</html> -->